{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="" style="background-image: url('{% static 'images/bg_author.jpg' %}');" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mt-3" style="background-image: url('{% static 'images/bg_author.jpg' %}');">
          <div class="card-body">
            <h2 class="mt-5 text-center text-white">Employer Registration</h2>
            {% include 'messages.html' %}

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ field.label|capfirst }} {{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
            <form method="POST" action="" class="p-4 border rounded" style="box-shadow: 0 2px 4px rgba(255, 255, 255, 0.9);">
              {% csrf_token %}
              {% for field in form %}

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-white" for="id_{{ field.name }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                           id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                  </div>
                </div>

              {% endfor %}
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Sign Up" class="btn btn-block text-white" style="background-color: rgb(15, 173, 247); color: white">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
