{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="site-section" style="background-image: url('{% static 'images/bg.jpg' %}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0">
          <div class="card-body">
            <h2 class="mb-4 text-center">Update Profile</h2>
            {% include 'messages.html' %}
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger alert-dismissable">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
            <form method="POST" class="p-4 border rounded" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                {% if field.name == 'gender' %}
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="male" value="M" {% if field.value == 'M' %} checked {% endif %}>
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="F" {% if field.value == 'F' %} checked {% endif %}>
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                  </div>
                {% else %}
                  <div class="form-group">
                    <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                  </div>
                {% endif %}
              {% endfor %}
              <div class="form-group text-center">
                <button type="submit" class="btn px-4" style="background-color: rgb(15, 132, 235); color: white;">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
